<style>
/ Style the tab /
.tab {
  overflow: hidden;
  border: none;
  background-color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  border-bottom: 2px solid #e9e7e7;
  margin-bottom: 2%;
}

/ Style the buttons that are used to open the tab content /
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 8px;
  transition: 0.3s;
  color: #000;
}
  button.tablinks {
    color: #706d6d;
    font-weight: bold;
    border-bottom: none;
}
  button.tablinks {
    width: 15%;
    margin: 0% 1%;
}

/ Change background color of buttons on hover /
.tab button:hover {
  color:#000;
}

/ Create an active/current tablink class /
.tab button.active {
      color: #000;
    position: relative;
    border-bottom: 2px solid #8b8b8b;
}

/ Style the tab content /
.tabcontent {
/     border-top: 1px solid #939598; /
}
  
  
  
  @media(max-width:768px){
  .tab button {
    padding: 14px 0px;
  }
    button.tablinks {
    font-size: 12px;
}
  }
</style>
<!-- Tab links -->
<div class="mainclass">
<div class="tab page-width">
 <button class="tablinks" onclick="openTabs(event, 'one')">Description</button>
  <button class="tablinks" onclick="openTabs(event, 'two')">Details</button>
    <button class="tablinks" onclick="openTabs(event, 'three')">Fabric Care</button>
   <button class="tablinks" onclick="openTabs(event, 'four')"> Shipping Charges </button>
 <!-- <button class="tablinks" onclick="openTabs(event, 'five')">Reviews</button> -->

</div>

<!-- Tab content -->
<div id="one" class="tabcontent page-width">
{{ product.description }}
</div>

<div id="two" class="tabcontent page-width">
  {{ product.metafields.custom.details  | metafield_tag}}
</div>

<div id="three" class="tabcontent page-width">
  {{ product.metafields.custom.fabric_care  | metafield_tag}}
</div>
<div id="four" class="tabcontent page-width">
  {{ product.metafields.custom.shipping_returns | metafield_tag }}
</div>


<!-- <div id="three" class="tabcontent page-width">
	<div class="container">         
  {% comment %}Start automatically added Judge.me widget{% endcomment %}
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
  {% comment %}End automatically added Judge.me widget{% endcomment %}
  </div>
</div> -->

</div>
<script>
  
    var tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
        tabcontent[0].style.display = "block";
  
  function openTabs(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>